// -----------------------------------------------------------------------------
// This file contains all styles related to the Safety page.
// -----------------------------------------------------------------------------
.awards{
    ul {
        list-style-type: square;
        line-height: 1.6em;
        padding-left: 2em;
                li:last-child{
          padding-bottom: 20px;
        }
    }
    ol {
        line-height: 1.6em;
        padding-left: 2em;
        li {
            list-style-type: decimal;
        }
        li:last-child{
          padding-bottom: 20px;
        }
    }

}